<h3 style="float: right; margin: 0 25px;"><a href="/">HOME</a></h3>
<% if @results %>
  <h1>Remember These?</h1>
  <div>
    <%= render partial: 'results', locals: { results: @results } %>
  </div>
<% else %>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:username) %>
    <%= text_field_tag(:username) %>
    <%= submit_tag("go") %>
  <% end %>
<% end %>